<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Thumbnail Gallery</h1>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="asset/img/400x300.png" alt="">
            </a>
        </div>



    </div>

</div>
<div class="container"
    lazy-scroll="loadVideos()"
    lazy-scroll-trigger="80"
    lazy-no-scroll="false">
    <h2>Videos</h2>

    <div class="row" ng-repeat="video in videos">
        <div class="container video-container">
            {{video.name}}
            {{ video.description }}
            <hr>
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">Video Gallery</h1>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#"></a>
            <videogular vg-theme="config.theme.url">
                <vg-media vg-src="rootURL + video.url"
                          vg-tracks="config.tracks">
                </vg-media>
                <vg-controls
                        vg-autohide="config.plugins.controls.autoHide"
                        vg-autohide-time="config.plugins.controls.autoHideTime">
                    <vg-play-pause-button>
                    </vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-playback-button></vg-playback-button>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>
            </videogular>

        </div>



    </div>

    <ul>
        <li ng-repeat="video in videos">
            <div class="container video-container">
                {{video.name}}
                <hr>
                {{ video.description }}
            </div>
        </li>
    </ul>
</div>


