/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.videogular-container {
  width: 100%;
  height: 500px;
  margin: auto;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .videogular-container {
    width: 1170px;
    height: 658.125px;
  }

  .videogular-container.audio {
    width: 1170px;
    height: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .videogular-container {
    width: 940px;
    height: 528.75px;
  }

  .videogular-container.audio {
    width: 940px;
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .videogular-container {
    width: 728px;
    height: 409.5px;
  }

  .videogular-container.audio {
    width: 728px;
    height: 50px;
  }
}


.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #fd0;
}